@model IEnumerable<BaiTestCS.Models.StudentSQLModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FullName)*@
            FullName
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Address)*@
            Address
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BirthDay)*@
            BirthDay
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Gender)*@
            Gender
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Address)*@
                @*@item.Address*@
                @Html.TextBoxFor(x => item.Address)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BirthDay)*@
                @item.BirthDay
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Gender)*@
                @item.Gender
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
